# ----------------------- TEMPLATE BEGINS HERE -----------------------
[core]
unit_test_mode = False

# Default timezone in case supplied date times are naive
# can be utc (default), system, or any IANA timezone string (e.g. Europe/Amsterdam)
default_timezone = utc

[default]
account_url =
account_id =
authenticator =
username =
password =


[logging]
base_log_folder = {THABALA_HOME}/logs
logging_level = INFO
log_format = [%%(asctime)s] %%(levelname)s - %%(message)s
simple_log_format = %%(asctime)s %%(levelname)s - %%(message)s
logging_config_class =
colored_console_log = True
colored_log_format = [%%(blue)s%%(asctime)s%%(reset)s] %%(log_color)s%%(levelname)s%%(reset)s - %%(log_color)s%%(message)s%%(reset)s
colored_formatter_class = thabala_cli.utils.log.colored_log.CustomTTYColoredFormatter
