# ----------------------- TEMPLATE BEGINS HERE -----------------------
[core]
default_timezone = utc

[default]
account_url = https://console.thabala.com
account_id =
authenticator =
username =
password =
