# ----------------------- TEMPLATE BEGINS HERE -----------------------
[core]
unit_test_mode = True
default_timezone = utc

[default]
account_url =
account_id =
authenticator =
username =
password =


[logging]
base_log_folder = {THABALA_HOME}/logs
logging_level = INFO
